:global {
    html, body, #app {
        padding: 0;
        margin: 0;
    }

    h1, 
    h2, 
    h3,
    h4, 
    h5, 
    h6 {
        font-family: var(--main-font-family);
    }

    p {
        font-family: var(--desc-font-family);
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}